/backup/
/lib/
/internationalization/Calculator.en.mo
/internationalization/Calculator.vi.mo
/internationalization/lazres.exe
/internationalization/makeLaz.bat
Calculator.exe
Calculator.exe.sig
moveToSys32.bat
Calculator.lps
/Calculator.lrs
Calculator.res
main.lrj
operands.lsj
function.lsj
ucalculatorengineconsole.pas
ucalculatorengineconsole.rsj
uhelpbox.lrj
ulangselector.lrj
uvariables.lrj
Changelog.txt
usettings.lrj
usettings.lrs